body {
 
  font-family: Arial, sans-serif; 
  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: 0; 
  color: #333; 
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
  
 
  overflow: hidden; 
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; 
  object-fit: cover; 
}

.container {
  position: relative;
  z-index: 1;

  background-color: rgba(255, 255, 255, 0.7); 
  backdrop-filter: blur(5px); 
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

#timer {
  font-size: 5em;
  margin-bottom: 30px;
  font-weight: bold;
}

.buttons button {
  background-color: #a0522d; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: #8b4513; 
}

#status {
  margin-top: 20px;
  font-size: 1.5em;
  font-style: italic;
}

.todo-container {
  margin-top: 30px;
  background-color: #fff5e6;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.todo-container input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.todo-container ul {
  list-style-type: none;
  padding: 0;
}
